<!DOCTYPE html>
<html lang="en">  
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Home Page</title>
</head>
<style>
    .table-container {
        padding: 15px 20px;
    }

    .title {
        font-size: 25px;
        font-weight: 600;
        margin-bottom: 10px;
    }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    tr:hover {
        background-color: #CCC;
    }
</style>
<body>
    <div class="topnav">
        <a href="/user">User</a>
        <a class="active" href="/class">Class</a>
        <a href="/score">Score</a>
        <a href="/class/create">Create Class</a>
    </div>
    <div class="table-container">
        <div class="title">List Classes</div>
        <table>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>Action</th>
            </tr>

            <% dataClass.forEach(classA => { %>
                <tr>
                    <td><%= classA.id %></td>
                    <td><%= classA.name %></td>
                    <td><%= classA.description %></td>
                    <td>
                        <a href="/class/update/<%= classA.id %>">Edit</a>
                        <form action="/class/delete/<%= classA.id %>" method="POST" style="display: inline;">
                            <button>Delete</button>
                        </form>
                    </td>
                </tr>
            <% }); %>
        </table>
    </div>
</body>
</html>